@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background-color: cornsilk;
    font-family: 'Inter', sans-serif;
}

.main-img {
    width: 250px;
    height: 250px;
    padding-bottom: 16px;
}

h1 {
    text-align: center;
}

.why-h3 {
    text-align: center;
}

.why-width {
    max-width: 500px;
}


.img-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fav-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.h3-padding {
    padding-left: 20px;
}


footer img {
    width: 20px;
    height: 20px;
}
