@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background-color: cornsilk;
    font-family: 'Inter', sans-serif;
}

.main-img {
    width: 250px;
    height: 250px;
}

h1 {
    text-align: center;
}

footer img {
    width: 20px;
    height: 20px;
}

