@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background: linear-gradient(135deg, #fc0fc0, #4743ef);
    font-family: 'Inter', sans-serif;
}

.main-img {
    width: 250px;
    height: 250px;
    padding-bottom: 16px;
}

h1 {
    text-align: center;
}

.why-h3 {
    text-align: center;
}

.why-width {
    max-width: 500px;
}


.img-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fav-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.h3-padding {
    padding-left: 20px;
}

th, td {
    border: 1px solid grey;
    padding: 8px;
}

.table-head-colour {
    background-color:rgb(151, 143, 175);
}

.table-colour1 {
    background-color:mintcream;
}

.table-colour1:hover {
    background-color: lavender;
}

.footer-img {
    width: 20px;
    height: 20px;
}

.form-container {
    background-color:mintcream;
    border: 1px solid grey;
    padding: 30px;
    margin: 10px;
}

form > h3 {
    text-align: center;
    text-decoration: underline;
}

form > div > input {
    margin: 2px;
    border: solid 1px lightgray;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:5px;
}

form > div > label {
    margin: 2px;
    
}

input:focus {
    background-color:lavender;
  }

button {
    margin-top: 10px;
}

footer {
    width: 100%;
    text-align: center;
}